.btn-wrapper {
    text-align: center;
}
#icon-wrapper{
    display: block;
}

#txt{
    font-size: 12px !important;
    margin-left: 3px;
}
#cabecera{
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}