.btn-wrapper {
    text-align: center;
}
#icon-wrapper{
    display: block;
}

#txt{
    font-size: 12px !important;
    margin-left: 3px;
}
#cabecera{
    font-size: 28px;
    color: #294353;
}

#menu{
    color: #599979;
    text-shadow: 0 0 3px #252525;
}

#cabeceraLista{
    color: dimgray;
}