#fav{
    color: white;
    text-shadow: 0 0 3px #000;
    margin-right: 10px;
}
#back{
    color: #6bad8c;
    text-shadow: 0 0 3px #252525;
    margin-left: 10px;
}

.btn-wrapper {
    text-align: center;
}

#icon-wrapper{
    display: block;
}

#txt{
    font-size: 12px !important;
    margin-left: 3px;
}

.btnPredecir{
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px
}

.btnPredecir ion-button{
    width: 30%;
}

#izquierda{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    color: #707070;
    text-align: center;
    font-size: 18px;
}

#centro{
    margin-top: 5%;
    width: 100%;
}

#derecha{
    width: 80%;
    color: #707070
}
#derecha div{
    width: 100%;
    margin-top: 5%;
}

.fondoCabecera{
    background: #7dc9aa;
}

#titulo{
    text-align: center;
    font-size: 25px;
    color: #294353;
}