<ion-header>
  <ion-toolbar color="success">
    <ion-text slot="start" (click)="anteriorPagina()">
      <i id="back" class="fas fa-angle-left fa-2x"></i>
    </ion-text>
    <ion-title id="titulo">{{nombreEmpresa}}</ion-title>
    <ion-text slot="end" (click)="modificarFavorito(!favorito)">
      <i id="fav" class="fas fa-heart fa-2x"></i>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="izquierda">
    <ion-label>Rango de predicción</ion-label>
    <ion-select value="12" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="meses" (ionChange)="predecir = false">
      <ion-select-option value="12">12 Meses</ion-select-option>
      <ion-select-option value="9">9 Meses</ion-select-option>
      <ion-select-option value="6">6 Meses</ion-select-option>
      <ion-select-option value="3">3 Meses</ion-select-option>
      <ion-select-option value="1">1 Meses</ion-select-option>
    </ion-select>
  </div>

  <div id="centro">
    <img id="imagen">
  </div>

  <div id="derecha">
    <h3>Descripción:</h3>
    <div>
      <h6>{{descripcion}}</h6>
    </div>
  </div>

  <div class="btnPredecir">
    <ion-button color="primary" (click)="nuevaPrediccion()" [disabled]="predecir">Predecir</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="btn-wrapper">
    <div (click)="irInicio()">
      <i id="icon-wrapper" class="fas fa-home fa-2x"></i><span id="txt">Inicio</span>
    </div>
  </ion-toolbar>
</ion-footer>