#fav{
    color: white;
    text-shadow: 0 0 3px #000;
    margin-right: 10px;
}
#back{
    color: #000;
    text-shadow: 0 0 3px #000;
    margin-left: 10px;
}
#imagen{
    width: 90%;
    height: 50%;
    margin-left: 5%;
}

.btn-wrapper {
    text-align: center;
}
#icon-wrapper{
    display: block;
}

#txt{
    font-size: 12px !important;
    margin-left: 3px;
}

.btnPredecir{
    width: 100%;
    text-align: center;
}