.titulo {
    padding-top: 5%;
    text-align: center;
}

.titulo h1{
    color:#294353;
}

.subtitulo {
    margin-top: 10%;
    text-align: center;
    color: #949997;
}
.fondo {
    text-align: center;
}
.botones {
    text-align: center;
    padding: 10%;
}
#btnRegis {
    width: 75%;
    --background: #0b5fa5;
    --background-activated: #518bbb;
    color: #ffffff;
    --color-activated: #ffffff81;
    --opacity: 1;
}
#btnInic {
    width: 75%;
    --background: #ffffff;
    --background-activated: ##ffffff;
    color: #0b5fa5;
    --color-activated: #518bbb;
    --opacity: 1;
}
