<ion-header no-border>
  <ion-toolbar class="titulo">
    <ion-title><h1>ITRADE</h1></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="subtitulo">
      <h4>Predecir nunca a sido tan facil</h4>
    </div>
    <div class="fondo">
      <img src="../../assets/fondoAnimado.gif">
    </div>
    <div class="botones">
      <ion-button id="btnRegis" [routerLink]="['/registro']">Registrate</ion-button>
      <br>
      <ion-button id="btnInic" [routerLink]="['/login']">Iniciar sesión</ion-button>
    </div>
</ion-content>